<script type="text/javascript">

function getParagraphs(ParagraphId) {
  var ParaSharp = "#"+ParagraphId;
  $(ParaSharp).click(function()
    {
      $.ajax({
        url:"getParagraphs.json",
        type: "POST",
        data: {id:<%=params[:id]%>, limit:10},
        dataType:"json"
          }).done(function(data) {
        var htmlpart=""
        for(var i=0;i<data.length;i++) {
          htmlpart = htmlpart + "<div class='span8'>"+data[i].paragraph.body+"</div>";
        }
        $("#changed").html(htmlpart);

        $('i[id^="paragraphs"]').parent().parent().removeClass("active");
        $('i[id^="paragraphs"]').hide();
      
        $(ParaSharp).prepend("<i class=\"icon-play\" id=\"paragraphs\" ></i>  ");
        $(ParaSharp).parent().addClass("active");
      });
    });
}

$(document).ready(function()
  {
    var options = new Array("PTranslated","PNotTranslated","PAll");
    for (var i = 0; i < options.length; ++i) {
     var ParagraphId = options[i];
     getParagraphs(ParagraphId);
    }
  });

</script>
  <div class="row-fluid">
    <div class="span9">
      <%book = @book%>
      <%percent = @percent %>
      <%= book.title %>
      by <b><%=book.author%></b>
      Translated <%=percent%> %
      
    </div>
    <div class="btn-group">
      <button class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown">Paragraphs <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a id="PNotTranslated" href="#">Untranslated</a></li>
          <li><a id="PTranslated" href="#">Translated</a></li>
          <li><a id="PAll" href="#">All</a></li>
        </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown">Words<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Untranslated</a></li>
          <li><a href="#">Translated</a></li>
          <li><a href="#">All</a></li>
        </ul>
    </div>
      <div class="btn-group">
      <button class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown">My Translations<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Words</a></li>
          <li><a href="#">Paragraphs</a></li>
        </ul>
    </div>

  </div>
  <div class="row">
    <div id="changed">
    </div>
  </div>
